body{
    padding: 0%;
    background: red;
}

#navbar{
    display: inline-flex;
    width: 100%;
    background: var(--blue);
    color: var(--clear-grey);
    margin: 0%;
    /* padding: 2%; */
}

#navbar * {
    margin: 0%;
    padding: 0;
}

.input-text{
    background: var(--light-blue);
    color: var(--clear-grey);
}

/* alfred tips */
form user-info {position: relative;}
user-info input {position: absolute;} 
user-info i  {position: absolute;}